.App {
}

.MSA-appbar {
    display: flex;
    flex-direction: row;
    font-size: large;
    font-style: italic;
}

.MSA-appbar-title {
    text-align: left;
    padding-top: 2px;
    padding-left: 2px;
}

.MSA-appbar-description {
    text-align: center;
    flex-grow: 1;
    padding: 2px;
}

.MSA {
    display: flex;
    flex-direction: column;
}

.MSA-tree-alignment {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.MSA-tree {
    overflow-x: scroll;
    overflow-y: hidden;
}

.MSA-tree-canvas {
    position: relative;
}

.MSA-alignment-names {
    margin-left: 2px;
    margin-right: 2px;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-shrink: 0;
    white-space: nowrap;
}

.MSA-alignment-names-content {
    position: relative;
}

.MSA-alignment-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.MSA-alignment-name-link {
  color: blue; 
  cursor: pointer;
  text-decoration: underline;
}

.MSA-alignment-name-link:active {
    color: red;
}

.MSA-alignment-rows {
    position: relative;
    overflow-x: scroll;
    overflow-y: scroll;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 1px;
    cursor: move;
}

.MSA-alignment-rows-back {
    z-index: 1;
}

.MSA-alignment-canvas {
    position: absolute;
    overflow: hidden;
    pointer-events: none;
}

.MSA-structure-panel {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.MSA-structures {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: auto;
}

.MSA-structure {
    position: relative;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding-top: 2px;
    margin: 1px;
    display: flex;
    flex-direction: column;
}

.MSA-structure-name {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: small;
    z-index: 1;
    background: rgba(255,255,255,.8);
}

.MSA-structure-label {
    position: absolute;
    bottom: 2px;
    left: 2px;
    font-size: small;
    z-index: 1;
    background: rgba(255,255,255,.8);
}

.MSA-structure-top {
    padding-left: 2px;
    padding-right: 2px;
    height: 1.5em;
    z-index: 1;
}

.MSA-structure-close-button {
    float: right;
    cursor: pointer;
}

.MSA-structure-pv {
    position: absolute;
    top: 0;
    left: 0;
}

