.App {
}

.MSA {
    display: flex;
    flex-direction: column;
}

.MSA-tree-alignment {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.MSA-tree {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
}

.MSA-alignment-names {
    position: relative;
    margin-left: 2px;
    margin-right: 2px;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-shrink: 0;
    white-space: nowrap;
}

.MSA-alignment-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.MSA-alignment-rows {
    position: relative;
    overflow-x: scroll;
    overflow-y: scroll;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 1px;
    cursor: move;
}

.MSA-alignment-rows-back {
    z-index: 1;
}

.MSA-alignment-canvas {
    position: absolute;
    overflow: hidden;
    pointer-events: none;
}

.MSA-structures {
    display: flex;
    flex-direction: row;
}

